<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Login' }) %>
  <body>
    <h1>Login</h1>
    <form method="POST" action="/auth/login">
      <%- include("partials/email-input") %> <%-
      include("partials/password-input") %>
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/auth/register">Register here</a>.</p>
  </body>
</html>
