<!DOCTYPE html>
<html>
  <%- include('partials/head', { title: 'Dashboard' }) %>
  <body>
    <h1>Welcome to the Dashboard, <%= username %>!</h1>
    <%- include('partials/user-links') %>
    <p>
      This is the user dashboard. You can see your account information and
      manage your settings from here.
    </p>
  </body>
</html>
