<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head', { title: 'Welcome' }) %>
  <body>
    <% if (token) { %>
    <p>Welcome to the app! You are logged in.</p>
    <%- include('partials/user-links') %> <% } else { %>
    <p>Welcome to the app! Please log in or sign up.</p>
    <%- include("partials/auth-links") %> <% } %>
  </body>
</html>
